<div class="app-total-container">
  <header>
    <!--<div>-->
    <!--<mat-toolbar class="header">-->
    <!--<span>{{title}}</span>-->
    <!--</mat-toolbar>-->
    <!--</div>-->
  </header>

  <main>
    <div class="content" [ngClass]="{'onSignInPage': onSignInPage()}">
      <div>
        <div class="content-overflow">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>

  <app-nav *ngIf="!onSignInPage()"></app-nav>

  <app-popup-chat></app-popup-chat>

  <footer>
    <div class="footer" [ngClass]="{'onSignInPage': onSignInPage()}">
      <div class="footer-align-left">
        <span>© Copyright 2019 BASF - Alvaro Doune</span>
      </div>
      <div class="footer-align-right">
        <a href="#">Term & Conditions</a><span>&nbsp;|&nbsp;</span><a href="#">Privacy Policy</a>
      </div>
    </div>
  </footer>
</div>
