<div class="admin-content">
  <div class="admin-title">
    <h3>ADMIN</h3>
  </div>

  <div class="custom-connector">
    <span class="dis-block">Custom connector 1</span></div>
  <div class="custom-connector">
    <span class="dis-block">Custom connector 2</span>
  </div>
  <div class="custom-connector">
    <span class="dis-block">Custom connector 3</span>
  </div>

  <div class="file-intake">
    <span class="dis-block">
      Search... Upload... Success... Fail...
    </span>
  </div>
</div>
