<div class="profile-total-container">
  <div class="profile-content">
    <div class="profile-title">
      <h3>ADMIN</h3>
    </div>
    <div class="profile-header">
      <img class="profile-image" src="../../assets/profile-silhouette.png" width="200px" alt="User profile">
    </div>
    <div class="body">
      <mat-tab-group>
        <mat-tab label="User Profile">
          <p><b>Name: </b>Darcy Lynne</p>
          <p><b>Role: </b>Ventriloquist</p>
          <p><b>Organization: </b>Got Talent</p>
          <p><b>Password: </b>*********</p>
          <p><b>Email: </b>darcylynne@talent.com</p>
          <p><b>Language: </b>English</p>
          <p><b>Time Zone: </b>GTM -2</p>
        </mat-tab>
        <mat-tab label="Settings">
          <p>Notification</p>
        </mat-tab>
        <mat-tab label="Account">
          <p>Billing</p>
          <p>Users</p>
        </mat-tab>
        <mat-tab label="Data Upload">
          <br/>
          <input type="file"
                 required>
          <button mat-stroked-button color="primary"
                  class="file-button-sign-in">
            Browse
          </button>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

</div>
