<div class="home-total-container">
  <div class="home-title">
    <h3>HOME</h3>
  </div>

  <div class="home-center-container">
    <div class="chart-content-left">
      <span>chart 1</span>
    </div>

    <div class="chart-content-right">
      <span>chart 2</span>
    </div>

    <div class="chart-high-level-metrics">
      <span>High Level Metrics</span>
    </div>

    <div class="news">
      <span>News</span>
    </div>

    <div class="helpful-articles">
      <span>Helpful Articles</span>
    </div>
  </div>
</div>
